
$primary-color: #03a09f;
$accent-color: #008ba0;
$accent-color-50: #008ba088;

$font-stack: 'Josefin Sans', sans-serif;
$font-alt-stack: 'Lobster', cursive;
$bold: 400;
$thin: 300;

$hero-url: "/static/img/roof_moss.webp";
$hero-height: 75vh;


body{
  font-family: $font-stack;
  font-weight: $thin;
  font-size: large;
  overflow-x: hidden;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.logo{
  fill: white;
  height: 60px;
  img{
    height: 100%;
  }
}

.reveal-button{
  height: 4rem;
  width: 4rem;
  img {
    padding: 0.5rem;
    height: 100%;
  }
}

.logo-text {
  padding-left: 15px;
  display: flex;
  flex-direction: column;

  p{
    &:nth-child(2) {
      $spacing-offset: 4px;
      font-weight: $bold;
      letter-spacing: $spacing-offset;
      padding-left: $spacing-offset;
      border-top: 1px solid #fff5;
      padding-top: 5px;
    }
    $spacing-offset: 3px;
    letter-spacing: $spacing-offset;
    padding-left: $spacing-offset;
    font-kerning: normal;
    margin: 0;
    text-transform: uppercase;

  }
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 25px;
  background-color: rgba(0,0,0,0.2);
  //background-image: linear-gradient(to bottom right, $primary-color, $accent-color);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 3;
  nav {
    ul {
      padding: 0;
      margin: 0;
    }
    .menu-item {
      &:hover{
        .submenu {
          height: 100px;
        }
        font-weight: $bold;
      }
      > a::before {
        display: block;
        content: attr(title);
        font-weight: $bold;
        height: 0;
        overflow: hidden;
        visibility: hidden;
      }
      text-align: center;
      position: relative;
      padding: 0 10px;
      display: inline;
      cursor: pointer;
      .submenu {
        background-color: $accent-color-50;
        text-align: start;
        font-weight: $thin;
        position: absolute;
        height: 0;
        width: 150px;
        overflow: hidden;
        transition: height 0.25s;
        > li {
          &:hover{
            font-weight: $bold;
          }
          display: block;
          padding: 2px 10px;

        }
      }
    }
  }
}


.white-social-links,
.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $accent-color-50;
  padding: 20px;
  right: 0;
  top: 42%;
  transform: translateY(-50%);
  a {
    padding: 10px 0 10px;
    color: $accent-color;
  }

  svg {
    height: 20px;
  }
  z-index: 1;
}
.white-social-links{
  a{
    color: white;
  }
  border-left: 1px solid #fff5;
  z-index: 3;
}

.white-social-links-container{
  position: absolute;
  top: 0;
  clip: rect(auto, auto, auto, auto);

  .service-title{
    position: relative;
    margin-top: -1px;
    color: #fffd;
    padding-bottom: 1rem;
    p {
      margin: 0;
    }
    h1 {
      font-family: $font-alt-stack;
    }
  }


}

.rosette-container{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .rosette {
    padding: 2rem;
    border-radius: 50%;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
    box-shadow: 0 0 0 10px #0c5460;

    p {
      margin: 0;
    }
  }
}



.shape-container {
  position: absolute;
  top: $hero-height;
  height: 40rem;
  width: 100%;

  .shape {
    top: -1px;
    position: absolute;
    background-color: #0c5460;

    width: 100%;
    z-index: -1;
  }

  .shape:nth-child(1) {
    height: 15rem;
    opacity: 100%;
    clip-path: polygon(100% 0, 100% 40%, 50% 75%, 0 40%, 0 0);
  }

  .shape:nth-child(2) {
    height: 17rem;
    opacity: 75%;
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
  }
}


.hero{

  text-align: center;
  padding-top: 70px;
  height: $hero-height;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #0c5460;
  background-image: linear-gradient(#6b6b6b99, $accent-color-50, #0c5460), radial-gradient(ellipse, transparent 60%, #000), url($hero-url);
  background-size: cover;
  z-index: 2;

  .title {
    max-width: 80%;
  }
  h1 {
    padding: 0 5px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-family: $font-alt-stack;
    font-size: 60px;
    font-weight: $bold;
  }
  .locations {
    padding: 10px;
    font-size: 27px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff5;
    span{
      padding: 0 0.25rem
    }
  }
}



.main{
  margin: -1px;
  position: relative;

}

.roofline-shape{
  margin-top: 2.5rem;
  height: 10rem;
  background-color: rgba(12, 83, 94, 0.75);
  clip-path: polygon(50% 46%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative;
  .fascia{
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #0c5460;
    clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.roofline{
  color: #fffd;
  background-color: #0c5460;
  .service-title{
    p {
      margin: 0;
    }
    h1 {
      font-family: $font-alt-stack;
      padding-top: 2rem;
    }
  }

  img {
    width: 50%;
  }

  .image-switcher{
    width: 50%;
    .reveal-button{
      color: #497e86;
      background-color: #497e86;
    }
  }

  .reveal {
    font-family: "Lobster", cursive;
    color: currentColor;
  }

  .special {
    background: #fffd;
    font-weight: 400;
    padding-bottom: 2rem;
    margin-top: auto;
  }
}


.services{
  margin: 0 auto;
  width: 75%;
  max-width: 75rem;
  &.roof{
    margin-top: calc(#{$hero-height} + 25rem);
  }

  .service-title{
    p {
      margin: 0;
    }
    h1 {
      font-family: $font-alt-stack;
    }
  }

  .service{
  }



  .bwork{
    margin-bottom: 5rem;
  }

  .text-group {
    margin: 25px;


    p {
      margin: 0 0 1rem;
    }
  }

}

.image-switcher{
  position: relative;
  margin: 2rem;

  button {
    position: absolute;
    left: 50%;
    top: 0rem;
    background: #0c5460;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0 0 rgba(12, 84, 96, 1);
    transform: translate(-50%, -50%) scale(1);
    animation: pulse 2s infinite;
    height: 3.5rem;
    width: 3.5rem;
    color: #0c5460;


    &:focus{
      outline: none;
    }
  }

  img{
    width: 100%;
  }

  img:last-of-type{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
  }

  i {
    color: white;
    font-size: x-large;
  }

  &.dirty {
    button i {
      opacity: 0;
    }
    img:last-of-type{
      opacity: 1;
    }
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 currentColor;
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}


@media only screen and (max-width: 768px) {
  $hero-height: 100vh;


  .shape-container {
    top: 100vh;
  }

  .services {
    &.roof {
      margin-top: 130vh;
    }
  }

  .hero {
    height: 100vh;

  .locations {

    border: none;

    span {
      font-size: 15px;
    }
  }
  }

  .blob {
    padding-top: 3rem;
    width: 100% !important;
  }

  .shape-container {
    .shape:nth-child(1) {
      height: 20rem;
      opacity: 100%;
      clip-path: polygon(100% 0, 100% 40%, 50% 75%, 0 40%, 0 0);
    }

    .shape:nth-child(2) {
      height: 22rem;
      opacity: 75%;
      clip-path: polygon(100% 0, 100% 50%, 50% 90%, 0 50%, 0 0);
    }
  }

  .roofline {
    .image-switcher {
      width: 100%;
      margin: 0;
      max-width: 75vw;
    }
  }
}
