body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: large;
  overflow-x: hidden;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  fill: white;
  height: 60px;
}
.logo img {
  height: 100%;
}

.reveal-button {
  height: 4rem;
  width: 4rem;
}
.reveal-button img {
  padding: 0.5rem;
  height: 100%;
}

.logo-text {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
}
.logo-text p {
  letter-spacing: 3px;
  padding-left: 3px;
  font-kerning: normal;
  margin: 0;
  text-transform: uppercase;
}
.logo-text p:nth-child(2) {
  font-weight: 400;
  letter-spacing: 4px;
  padding-left: 4px;
  border-top: 1px solid #fff5;
  padding-top: 5px;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px 25px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.nav-bar nav ul {
  padding: 0;
  margin: 0;
}
.nav-bar nav .menu-item {
  text-align: center;
  position: relative;
  padding: 0 10px;
  display: inline;
  cursor: pointer;
}
.nav-bar nav .menu-item:hover {
  font-weight: 400;
}
.nav-bar nav .menu-item:hover .submenu {
  height: 100px;
}
.nav-bar nav .menu-item > a::before {
  display: block;
  content: attr(title);
  font-weight: 400;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.nav-bar nav .menu-item .submenu {
  background-color: #008ba088;
  text-align: start;
  font-weight: 300;
  position: absolute;
  height: 0;
  width: 150px;
  overflow: hidden;
  transition: height 0.25s;
}
.nav-bar nav .menu-item .submenu > li {
  display: block;
  padding: 2px 10px;
}
.nav-bar nav .menu-item .submenu > li:hover {
  font-weight: 400;
}

.white-social-links,
.social-links {
  position: fixed;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #008ba088;
  padding: 20px;
  right: 0;
  top: 42%;
  transform: translateY(-50%);
  z-index: 1;
}
.white-social-links a,
.social-links a {
  padding: 10px 0 10px;
  color: #008ba0;
}
.white-social-links svg,
.social-links svg {
  height: 20px;
}

.white-social-links {
  border-left: 1px solid #fff5;
  z-index: 3;
}
.white-social-links a {
  color: white;
}

.white-social-links-container {
  position: absolute;
  top: 0;
  clip: rect(auto, auto, auto, auto);
}
.white-social-links-container .service-title {
  position: relative;
  margin-top: -1px;
  color: #fffd;
  padding-bottom: 1rem;
}
.white-social-links-container .service-title p {
  margin: 0;
}
.white-social-links-container .service-title h1 {
  font-family: "Lobster", cursive;
}

.rosette-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rosette-container .rosette {
  padding: 2rem;
  border-radius: 50%;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  box-shadow: 0 0 0 10px #0c5460;
}
.rosette-container .rosette p {
  margin: 0;
}

.shape-container {
  position: absolute;
  top: 75vh;
  height: 40rem;
  width: 100%;
}
.shape-container .shape {
  top: -1px;
  position: absolute;
  background-color: #0c5460;
  width: 100%;
  z-index: -1;
}
.shape-container .shape:nth-child(1) {
  height: 15rem;
  opacity: 100%;
  clip-path: polygon(100% 0, 100% 40%, 50% 75%, 0 40%, 0 0);
}
.shape-container .shape:nth-child(2) {
  height: 17rem;
  opacity: 75%;
  clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
}

.hero {
  text-align: center;
  padding-top: 70px;
  height: 75vh;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #0c5460;
  background-image: linear-gradient(#6b6b6b99, #008ba088, #0c5460), radial-gradient(ellipse, transparent 60%, #000), url("/static/img/roof_moss.webp");
  background-size: cover;
  z-index: 2;
}
.hero .title {
  max-width: 80%;
}
.hero h1 {
  padding: 0 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-family: "Lobster", cursive;
  font-size: 60px;
  font-weight: 400;
}
.hero .locations {
  padding: 10px;
  font-size: 27px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #fff5;
}
.hero .locations span {
  padding: 0 0.25rem;
}

.main {
  margin: -1px;
  position: relative;
}

.roofline-shape {
  margin-top: 2.5rem;
  height: 10rem;
  background-color: rgba(12, 83, 94, 0.75);
  clip-path: polygon(50% 46%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative;
}
.roofline-shape .fascia {
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #0c5460;
  clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.roofline {
  color: #fffd;
  background-color: #0c5460;
}
.roofline .service-title p {
  margin: 0;
}
.roofline .service-title h1 {
  font-family: "Lobster", cursive;
  padding-top: 2rem;
}
.roofline img {
  width: 50%;
}
.roofline .image-switcher {
  width: 50%;
}
.roofline .image-switcher .reveal-button {
  color: #497e86;
  background-color: #497e86;
}
.roofline .reveal {
  font-family: "Lobster", cursive;
  color: currentColor;
}
.roofline .special {
  background: #fffd;
  font-weight: 400;
  padding-bottom: 2rem;
  margin-top: auto;
}

.services {
  margin: 0 auto;
  width: 75%;
  max-width: 75rem;
}
.services.roof {
  margin-top: calc(75vh + 25rem);
}
.services .service-title p {
  margin: 0;
}
.services .service-title h1 {
  font-family: "Lobster", cursive;
}
.services .bwork {
  margin-bottom: 5rem;
}
.services .text-group {
  margin: 25px;
}
.services .text-group p {
  margin: 0 0 1rem;
}

.image-switcher {
  position: relative;
  margin: 2rem;
}
.image-switcher button {
  position: absolute;
  left: 50%;
  top: 0rem;
  background: #0c5460;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 0 #0c5460;
  transform: translate(-50%, -50%) scale(1);
  animation: pulse 2s infinite;
  height: 3.5rem;
  width: 3.5rem;
  color: #0c5460;
}
.image-switcher button:focus {
  outline: none;
}
.image-switcher img {
  width: 100%;
}
.image-switcher img:last-of-type {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.image-switcher i {
  color: white;
  font-size: x-large;
}
.image-switcher.dirty button i {
  opacity: 0;
}
.image-switcher.dirty img:last-of-type {
  opacity: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 currentColor;
  }
  70% {
    box-shadow: 0 0 0 10px transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
@media only screen and (max-width: 768px) {
  .shape-container {
    top: 100vh;
  }

  .services.roof {
    margin-top: 130vh;
  }

  .hero {
    height: 100vh;
  }
  .hero .locations {
    border: none;
  }
  .hero .locations span {
    font-size: 15px;
  }

  .blob {
    padding-top: 3rem;
    width: 100% !important;
  }

  .shape-container .shape:nth-child(1) {
    height: 20rem;
    opacity: 100%;
    clip-path: polygon(100% 0, 100% 40%, 50% 75%, 0 40%, 0 0);
  }
  .shape-container .shape:nth-child(2) {
    height: 22rem;
    opacity: 75%;
    clip-path: polygon(100% 0, 100% 50%, 50% 90%, 0 50%, 0 0);
  }

  .roofline .image-switcher {
    width: 100%;
    margin: 0;
    max-width: 75vw;
  }
}

/*# sourceMappingURL=style.css.map */
